.app_container{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../public/background_images/foreground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

button.nav-button{
  width: 200px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
    font-size: 25px;
    font-weight: 800;
    color: rgb(255, 255, 255);

  background-color: #252446;
  box-shadow: 0px 10px 20px black;

  border: none;
  outline: none;

  margin: 20px;
  border-radius: 10px;

  transition: box-shadow 0.25s ease, transform 0.15s ease;
}

button.nav-button:hover{
  background-color: #442062;

  box-shadow:
    0 0 5px #6a5cff,
    0 0 10px #6a5cff,
    0 0 20px #6a5cff,
    0 0 40px #6a5cff;

  transform: translateY(-10px); /* optional lift effect */
}

button.rating-button:hover{
  background-color: #442062;

  box-shadow:
    0 0 5px #6a5cff,
    0 0 10px #6a5cff,
    0 0 20px #6a5cff,
    0 0 40px #6a5cff;

  transform: translateY(-10px); /* optional lift effect */
}

button.rating-button{
  width: 200px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
      font-size: 25px;
    font-weight: 800;
    color: rgb(255, 255, 255);

  background-color: #252446;
  box-shadow:
    0 0 5px #6a5cff,
    0 0 10px #6a5cff,
    0 0 20px #6a5cff,
    0 0 40px #6a5cff;
  border: none;
  outline: none;

  margin: 10px;
  border-radius: 10px;

  transition: box-shadow 0.25s ease, transform 0.15s ease;
}

.header_navbar{
  display: flex;
  width:100vw;
  height: 70px;
background-color:#252446;
position: fixed;
top: 0;
left: 0;
margin-top: 0;
    font-size: 25px;
    font-weight: 800;
    color: rgb(255, 255, 255);

flex-direction: column-reverse ;
box-shadow: 0px 5px 20px #000000;
z-index: 10;
}

.video_container{
  margin-top: 0;
    border-radius: 15px;
    display: "block",
     
}

.carousel_container {
    display: flex;
    justify-content: center;   
    align-items: start; 
  
    gap: 20px;          
    
    position: sticky;

    margin-top: 100px;
    left: 50%;                
    transform: translateX(-50%);
    
    width: 50%;
    height: 300px;
    overflow: visible;
}


.video_nav_buttons{
  display: flex;
  position:fixed;
  width: fit-content;
  height: fit-content;
  bottom: 10px;
  align-self: center;
  align-items: center;
  justify-content: center;

z-index: 10;
}

.night-background{
  position: fixed;
  z-index: -4;
    background-image: url("../public/background_images/nightbackground.png");
  width: 100vw;
  height: 100vh;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.spin{
  position:fixed;
  z-index: -3;
  background-image: url("../public/background_images/moon.png");
  width: 100vw;
  height: 100vh;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

    animation: spin-background 200s linear infinite;
}

@keyframes spin-background{

  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.cloud{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/background_images/clouds.png");
      background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -2;

  animation: moveCloud 100s linear infinite;
}

.mountain-foreground{
    position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/background_images/foregroundmountains.png");
      background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -2;
}

@keyframes moveCloud{

  from{
    transform: translateX(-300vw);
  }

  to{
    transform: translateX(100vw);
  }

}

body {
  margin: 0;
  background: black;
  overflow: hidden;
}

.particle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.particle {
  position: fixed;
  width: 0.5%;
  height: 1%;
  background: white;

  animation: move linear infinite;
}

/* random starting positions */
.particle:nth-child(1) {
  top: 10%;
  left: -10px;
  animation-duration: 10s;
}

.particle:nth-child(2) {
  top: 50%;
  left: -10px;
  animation-duration: 15s;
}

.particle:nth-child(3) {
  top: 80%;
  left: -10px;
  animation-duration: 8s;
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(110vw, 40vh);
  }
}
