.app_container{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../public/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
button.nav-button{
  width: 200px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  background-color: #203562;
  border-color: #1e579c;
  margin-top: 10px;
  border-radius: 10px;

}

.header_navbar{
  width:100vw;
  height: 70px;
background-color:#201533;
position: fixed;
top: 0;
left: 0;
margin-top: 0;
-webkit-text-fill-color: #0ce6f2;
align-content: center;
flex-direction: column-reverse ;
box-shadow: 0px 5px 20px #201533;
z-index: 10;
}

.video_container{
  margin-top: 0;
    border-radius: 15px;
    display: "block",
     
}

.carousel_container {
    display: flex;
    justify-content: center;   
    align-items: start; 
  
    gap: 20px;          
    
    position: sticky;

    margin-top: 100px;
    left: 50%;                
    transform: translateX(-50%);
    
    width: 50%;
    height: 300px;
    overflow: visible;
}


.video_nav_buttons{
  display: flex;
  position:fixed;
  width: fit-content;
  height: fit-content;
  bottom: 10px;
  align-self: center;
  align-items: center;
  justify-content: center;

z-index: 10;
}

.rating-button {        
  width: 200px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  background-color: #442062;
  border-color: #0073ff;
  margin-top: 10px;
  border-radius: 10px;

}

.spin{
  position:fixed;
  z-index: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;

    animation: spin-background 100s linear infinite;
}

@keyframes spin-background{

  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

