.nav-bar{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    background-color: #000000;
    z-index: 100;
    
}
.nav-button{
    width: 100px;
    height: 70%;
}